.Drawing_Top_header {
  position: static;
  /*height: 60px;*/
  background: linear-gradient(0deg, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(95, 95, 95, 0.678));
}

.Drawing_Top_banner {
  position: relative;
  float: top;

  height: 320px;
  z-index: -1;

  /*overflow: hidden;*/
  object-fit: cover;

  
}

.Drawing_Top_logo {
  display: flex;
  position: absolute;
  float: left!important;
  margin-right: 70%;
  margin-left: 20px;
  margin-top:10px;
  height: 60px;
  object-fit: cover;
  object-position: center;
}

.Drawing_Top_banner img{
  position: fixed;
  min-height: 140%;
  top: -40%;
  min-width: 100%;
  max-width: 160%;
}


.Drawing_Top_button_container {
  display: block;
  position: relative;
  float: right!important;
  /*margin-left: 70%;*/

  height: 60px;
  width: 50%;
  z-index: 100;

}

.Drawing_Top_header_button {
  display: absolute;
  right: 0;
  float:right;

  text-transform: uppercase;
  font-size: 20px;

  background: none;
  margin:0;
  padding: 2%;
  text-align: right;

  border: none;
}

.Drawing_Top_header_button a{
  color: #FFFFFF;
  text-decoration: none;
  width: 120px;
}

.Drawing_Top_header_button a:hover{
  border-bottom: solid 4px;
  border-color: rgba(255, 255, 255, 0.411)
}

.status_button {
  border: solid 2px;
  margin: 5px;
  margin-top: 7px;
  padding-top: 4px;
  padding-bottom: 3px;
  border-radius: 8px;
}

.status_button:hover {
  background: rgba(255, 255, 255, 0.37);
  border: solid 2px;
  border-color: rgba(255, 255, 255, 0.781);
}

.Drawing_Top_body {
  position: relative;
  top:-150px;
  height:100%;
  margin-bottom: -150px;
}
.Drawing_Top_tab {
    height: 50px;
}


.Drawing_Top_tab img {
  position: absolute;
  height: 50px;
  width: 72%;
  float: left!important;
  left: 0;
  object-fit: cover;
  filter: drop-shadow(-10px -10px 10px rgba(122, 60, 86, 0.37) );
  z-index: 1;
}


.Drawing_Top_tab_text {
  position: relative;
  float: left;
  height: 100%;
  width: 24%;
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 8px;
  margin:0;
  /*margin-left: 3%;
  margin-right: 5%;*/
  font-size: 27px;
  color: white;
  z-index: 3;
}

.Drawing_Top_tab_text a{
  color: #FFFFFF;
  text-decoration: none;
}

.Drawing_Top_container {
  /*height: 1500px;*/
  padding: 88px;
  padding-top: 46px;
  min-height: 800px;
  width:100%;
}

.Drawing_Top_footer {
  position: relative;
  height: 80px;
  background: rgb(24,23,23);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
}

.Jumpout_whole {
  z-index: 100;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(75, 75, 75, 0.548)
  
}

.Jumpout_window {
  background: rgba(255, 255, 255, 0.911);
  filter: drop-shadow(0px 0px 20px, rgba(0, 0, 0, 0.692));
  z-index: 101;
  position: fixed;
  height: 60%;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 10%;
  margin-bottom: 20%;
  border-radius: 20px;
  padding: 60px;
  /*background: linear-gradient(0deg, rgba(255, 199, 176, 0.89), rgb(236, 228, 153));*/
  animation: color-in-out 20s infinite;
  
}

@keyframes color-in-out {
  0% {
    background: rgb(255, 223, 176);
  }
  25% {
    background: rgb(218, 143, 120);
  }
  50% {
    background: rgb(129, 188, 255);
  }
  75% {
    background: rgba(116, 185, 159, 0.993);
  }
  100% {
    background: rgb(255, 223, 176);
  }
}


.Jumpout_x {
  position: absolute;
  right:0;
  top:0;
  float: right;
  padding: 5px;
  padding-right: 20px; 
  font-size: 30px;
  border: none;
  background: none;
  color: gray;
}
.Jumpout_x:hover {
  color: black;
  font-size: 40px;
}

.Jumpout_window img {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}
.Jumpout_window div {
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
}

.Jumpout_window h5 {
  display: inline;
  font-size: 20px;
  margin-right: 10px;
  margin: 0;
  color: #FFFFFF;
}

.Jumpout_window input {
  
  float: right;
  width: 60%;
  height: 35px;
  padding: 10px;
  border-radius: 20px;
  border: solid 2px;
  border-color: #FFFFFF;
}

.Jumpout_submit {
  position: relative;
  bottom: 0;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 50px;
  width:30%;
  padding: 10px;
  border: solid 2px;
  border-color: white;
  border-radius: 8px;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.37);
}

.Jumpout_submit:hover {
  background: rgba(255, 255, 255, 0.637);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
  font-family: 'password';
  font-style: normal;
  font-weight: 400;
  src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf);
}
.NONEdisplay {
  display: none;
}
.section_not_complete {
  width: 70%;
  object-fit: cover;
  margin: auto;
}

.section_not_complete img{
  max-width: 100%;
}