.User_head_container{
    height: 120px;
    margin-left: 50px;
    margin-right: 50px;
}

.User_info_container{
    position: relative;
    float: left;
    width: 40%;
    top:-30px;
    height: 50px;
    margin-left: 35px;
    color: white;
    font-size: 25px;
    z-index: 1;
    
}

.User_head_container button {
    position: relative;
    float: right;
    margin: 50px;
    z-index: 3;
    width: 100px;
    height: 50px;
    background: rgba(248, 248, 248, 0.253);
    font-size: 18px;
    color: white;
    border: solid 2px;
    border-radius: 5px;
    border-color: white;
}

.User_head_container button:hover {
    animation: color-changing 4s infinite; 
}

@keyframes color-changing {
    0%{
        background: rgb(255, 109, 109)
    }
    20%{
        background: rgb(255, 190, 105)
    }
    40%{
        background: rgb(183, 247, 154)
    }
    60%{
        background: rgb(109, 189, 255)
    }
    80%{
        background: rgb(153, 109, 255)
    }
    100%{
        background: rgb(255, 109, 109)
    }
}

.User_no_tab{
    position: relative;
    width: 100%;
    height: 120px;
    top:-100px;
    background: linear-gradient(180deg, rgba(231, 110, 110, 0) 0%, rgb(233, 154, 144) 80%);
    z-index: 0;
    margin-bottom: -100px;
}

.User_jumpout {
    position: absolute;
    top: -150px;
    background: rgba(44, 44, 44, 0.685);
}
.User_jumpout .User_jumpoutWindow {
    background: rgba(58, 58, 58, 0.938);
    animation: none;
    
}

.User_jumpout .User_upload {
    height: 60%;
    background: rgba(61, 83, 102, 0.877)
}



.User_upload h3 {
    position: relative;
    color: white;
    margin: 20px;
    font-size: 40px;
}

.User_upload .User_SelectFile input {
    border: none;
    border-radius: 0px;
    height: 50px;
    background: none;
}

.User_body_container {
    background: linear-gradient(180deg,  rgb(233, 154, 144), rgb(37, 37, 37));
    padding-top: 20px;
    padding-bottom: 50px;
}
.User_body_item_container {
    display: table;
    margin: auto;
    position: relative;
    width:80%;
}


.User_PicItem {
    position: relative;
    width: 30%;
    height: 350px;
    overflow: hidden;
    float: left;
    margin: 1%;
    margin-top: 1.5%;
}

.User_PicItem_imgcontainer{
    position: absolute;
    
    max-width:100%;
    width: 100%;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
    opacity: 1;

}
.User_PicItem_imgcontainer img{
    position: absolute;
    max-height: 150%;
    vertical-align: middle;
    text-align:center;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border: solid;
    border-width: 1px;
    border-color: white;
    object-fit: cover;
}

.User_PicItem:hover img{
    transition: all 5s;
    transform-origin: center;
    transform: translateX(-12%) translateY(0%);
    height: 200%;
}

.User_PicItem_text{
    position: absolute;
    width:100%;
    bottom: 0px;
    height:100px;
    padding:15px;
    border: solid;
    border-width: 1px;
    border-color: white;

    background: none;
    
}

.User_PicItem_text h5,p{
    margin:2px;
    margin-top:0px;
    margin-bottom: 0px;

    font-size: 18px;
    color: white;
}

.User_PicItem_text h5{
    font-size: 26px;
}

.User_PicItem:hover .User_PicItem_text{
    transition: all 3s;
    background: linear-gradient(140deg, rgba(231, 222, 222, 0.288), rgba(255, 255, 255, 0))
}

